#gallery {
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }
  
  #imageElement {
    width: 200px; /* Set the desired width */
    height: 150px; /* Set the desired height */
}

